<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Defo_Walk_Shita</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.3</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>Defo_D1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_D2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_D3.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_D2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<key>Defo_Walk_Hidari</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.3</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>Defo_L1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_L2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_L3.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_L2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Defo_Walk_Migi</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.3</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>Defo_R1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_R2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_R3.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_R2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>Defo_Walk_Ue</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.3</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>-1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>Defo_U1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_U2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_U3.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>Defo_U2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>
		<array>
			<string>Defo.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
